.menu-title{
  height:15vh;
  line-height:15vh;
  background:#123a56;
  display:flex;
  justify-content: center;
  flex-wrap: nowrap;
  p{
    font-size:20px;
    color:#fff;
    .menu-icon{
    margin-right:10px;
    font-size:22px;
    color:#fff;
  }
  }
}
.menu-style{
  height:85vh;
}